@charset "utf-8";

html {
    font-size: 100%;
}

midashi {
    text-align: center;
    font-size: 40px;
    /* color: #1a9bd1; */
    color: #1a72d1;
    font-weight: bold;
}

midashi-desc {
    text-align: center;
    color: #000;
}

.indent {
    margin-inline-start: 30px;
}

.line {
    border-block-end: 3px solid #000;
    margin-block-start: 20px;
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
}

/* レイアウト */
main {
    inline-size: 80%;
    margin: 3rem auto 4rem;
}

main h1 {
    padding: 5px 10px;
    margin-block-end: 10px;
    font-size: 1.8em;
    color: #1a9bd1;
}

main h2 {
    font-size: 1.5em;
    text-align: center;
    margin-block-end: 15px;
    color: #1a9bd1;
}

main h3 {
    font-size: 1.2em;
    text-align: center;
    margin-block-end: 5px;
    color: #1a9bd1;
}

/*ここから report.html にかかわる内容 */
/* 「活動報告トップページへ戻る」のリンクデザイン */
#ToReport {
    border-radius: 5px; /* 角を丸くする */
    background-color: lightblue; /* 背景色 */
    padding: 10px; /* 内側の余白 */
    text-decoration: none; /* 下線を消す */
    color: white; /* 文字色 */
    display: inline-block; /* リンクをボタンのように見せる */
    font-size: 14px; /* 文字サイズ */
    font-weight: bold; /* 太字 */
    text-align: center; /* テキストを中央揃え */
}

/* ホバー時の効果 */
#ToReport:hover {
    background-color: deepskyblue; /* 景色を変更 */
    color: white; /* 文字色を維持 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 軽い影を追加 */
}


.calendar {
    display: flex;
    justify-content: space-between;
}

.month {
    inline-size: 45%;
}

.month h3 {
    border-block-end: 1px solid #000;
    padding-block-end: 5px;
}

.events {
    list-style: none;
    padding-inline-start: 20px;
}

.events li {
    margin-block-end: 10px;
}

/* ここまで */